<!doctype html>
<html>
   <body>
   
      <div id='bg'>
         <div id='newrecord' >
      <header> <h1>Kshitija Shete </h1> 
         <h1> 1001821653 </h1> 
         <br>
         <a href="/"> Go to the home page!! </a>
          </header>
  </div>
   </header>
   <br><br>

<form action="/word_combination" method="POST">

   Combination: <input type="text" placeholder="Enter Combination" name="word_comb" value="{{ word_comb }}"> <br/><br/>
    <input type="submit" value="Submit">
</form>

<table id="customers">
  <tr>
           <th >File Name </th>
          <th > Line </th>
          <th> Line Number </th>
  </tr>

   {% for col in result %}

             <tr>

               <td>{{col[0]}}</td>

               <td>{{col[1]}}</td>

               <td>{{col[2]}}</td>

             </tr>
    {% endfor %}
   </tbody>

</table>

</html>